*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div#app{
    height: 100vh;
    width: 100%;

    background: linear-gradient(to bottom, #009688 0px, #009688 15vh,
    #dddbd1 15vh, #d2dbdc 100%);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    height: 94%;
    width: 80%;
    background-color: red;
}

main section.userbar{
    width: 35%;
    background-color: #ffffff;
}

section div.user-profile{
    height: 70px;
    background-color: #eaeaea;
}

section.userbar div.notifications{
    height: 80px;
    background-color: #8edafc;
    padding-left: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

section.userbar div.searchbar{
    height: 60px;
    background-color: #fafafa;
}

section.userbar div.contacts{
    height: calc(100% - 210px);
    background-color: #ffffff;
}

main section.conversation-container{
    width: 65%;
    background-color: #eaeaea;
}

div.messages{
    height: calc(100% - 145px);
    background-image: url('../img/mine.jpg');
    padding: 2rem;
    overflow-y: auto;
}

div.messages > article.message{
    padding: 1rem 1.25rem;
    border-radius: 1rem;
    margin: 0 2rem .8rem 2rem;
    background-color: #8edafc;
    clear: both;
}

div.messages > article.message.received{
    float: left;
    background-color: #ffffff;
    margin-right: 5rem;
}

div.messages > article.message.sent{
    float: right;
    background-color: #d5f9ba;
    margin-left: 5rem;
}

main section.conversation-container div.message-input{
    height: 75px;
    background-color: #f3eeea;
}

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.clearflix::after{
    display: block;
    clear: both;
    content:'';
}

img {
    width: 40px;
    border-radius: 50px;
}

.user-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    border-right: 1px solid lightgray;
}

.user {
    display: flex;
    justify-content: start;
    align-items: center;
}

div.font span i.fa-solid {
    margin-right: 1rem;
}

.fa-bell-slash {
    color: rgb(142, 218, 251);
    font-size: 20px;
}

div.notifications div.circle-white{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    text-align: start;
    background-color: white;
    padding-left: .75rem;
}

.notifications-desktop {
    margin-left: .75rem;
    font-size: 15px;
}

span u {
    color: rgba(102, 99, 99,0.5);
}

.searchbar {
    text-align: center;
    margin-top: 20px;
}

input[type="text"] {
    padding: 8px;
    width: 380px;
    border: 1px solid lightgray;
    font-family: 'fontAwesome';
    font-size: 10px;
}

.color-gray {
    color: rgb(87, 81, 81);
    font-size: 12px;
}

.user-access {
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    border-right: 1px solid lightgray;
    height: 68px;
}

.user-access .font {
    padding-left: 28rem;
}

section.userbar div.contacts > article {
    padding: .19rem;
    width: 100%;
    border-bottom: 1px solid rgb(244, 244, 244);
    position: relative;
}

.gray {
    color: rgb(194, 194, 194);
    font-size: 12px;
}

div.position span {
    position: absolute;
    right: 5px;
    top: 5px;
}

.contact-name {
    position: absolute;
    left: 50px;
    top: 5px;
}

.last-message {
    position: absolute;
    left: 50px;
    bottom: 10px;
}

.message-input {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.fa-face-smile {
    font-size: 25px;
    color: rgb(172, 170, 170);
}

.fa-microphone {
    font-size: 25px;
    color: rgb(173, 173, 173);
}