<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Vue 3 Boolzapp
    </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <div id="app">
        <main class="flex">
            <section class="userbar flex  flex-column">
                <div class="user-profile">
                    <div class="user">
                        <img src="./img/avatar_io.jpg" alt="">
                        <span>Sofia</span>
                    </div>
                    <div class="font">
                        <span><i class="fa-solid fa-circle-notch"></i></span>
                        <span><i class="fa-solid fa-message"></i></span>
                        <span><i class="fa-solid fa-ellipsis-vertical"></i></span>
                    </div>
                </div>
                <div class="notifications">
                    <div class="circle-white">
                        <span><i class="fa-solid fa-bell-slash"></i></span>
                    </div>
                    <div class="notifications-desktop">
                        <span>Ricevi notifiche di nuovi messaggi</span>
                        <br>
                        <span><u>Attiva notifiche desktop</u></span>
                    </div>
                </div>
                <div class="searchbar">
                    <form action="#">
                        <input type="text" placeholder=" &#xF002;   Cerca o inizia nuova chat" name="search">
                      </form>
                </div>
                <div class="contacts">
                    <article v-for="(contact, contactIndex) in contacts" :key="index" @click="selectContact(contactIndex)">
                        <img :src="contact.avatar" alt="Avatar">
                        <span class="contact-name">
                            {{ contact.name }}
                        </span>
                        <p class="last-message gray">Ultimo messaggio inviato</p>
                        <div class="position gray">
                            <span>12:00</span>
                        </div>
                    </article>
                </div>
            </section>
            <section class="conversation-container flex flex-column">
                <div class="user-access">
                    <div class="user">
                        <img v-for="avatar in cotacts" :src="contacts.avatar">
                        <article>
                            <p>
                                {{ contacts[activeContact].name }}
                            </p>
                            <span class="color-gray">Ultimo accesso oggi alle 12:00</span>
                        </article>
                        <div class="notifications-desktop">
                            
                      
                        </div>
                        <div class="font">
                            <span><i class="fa-solid fa-magnifying-glass"></i></span>
                            <span><i class="fa-solid fa-paperclip"></i></span>
                            <span><i class="fa-solid fa-ellipsis-vertical"></i></span>
                        </div>
                    </div>
                </div>
                <div class="messages clearfix">
                    <article v-for="message in contacts[activeContact].messages" class="message" :class="message.status === 'sent' ? 'sent' : 'received' ">
                        {{ message.message }}
                    </article>
                </div>
                <div class="message-input">
                    <span><i class="fa-regular fa-face-smile"></i></span>
                    <input type="text" placeholder=" Scrivi un messaggio" v-model="newMessage" @keyup.enter="sendMessage">
                    <span><i class="fa-solid fa-microphone"></i></span>
                </div>
            </section>
        </main>
    </div>
    <script src="./js/script.js"></script>
</body>
</html>